body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #5d5d5df4;
}


#card {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
#episode-details {padding-top: 40px;
  font-size: large;
  color: white;
}
#episode-details a {
  text-decoration: none;
  color: #fff;
  background-color: #007acc;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  
}
#episode-details a:hover {
  background-color: #005fa3;
}
#episode-details span {
  width: 700px;
}
